<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="../../../assets/images/favicon.ico">

    <meta name="google-site-verification" content="huu2Y2-hvgWrKYnpHP2tQcShK-fww3FDKlpP7au_4V0" />
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/tgangavarapu.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons - this is where you can add a little icon that will show up in the address bar next to the addrss adn in search history next to website name
    <link rel="SHORTCUT ICON" href="{{ BASE_PATH }}/assets/me.ico"/>
    -->
    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    
    <!--Add function that displays last modified date: -->
    <script type="text/javascript">
    onload = function(){
        document.getElementById("lastModified").innerHTML = "Last modified: " + document.lastModified.split(" ")[0];
    }
    </script>

    <style type="text/css">
      ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
      }

      ul.icons li {
        display: inline-block;
        padding: 0 0.75em 0 0;
      }

      ul.icons li:last-child {
        padding-right: 0;
      }

      ul.icons li > a, ul.icons li > span {
        border: 0;
      }

      ul.icons li > a .label, ul.icons li > span .label {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
              <li><a href="{{ BASE_PATH }}/pages/research.html">Research</a></li>
              <li><a href="{{ BASE_PATH }}/pages/news.html">News</a></li>
              <li><a href="{{ BASE_PATH }}/pages/teaching.html">Teaching</a></li>
              <li><a href="../../../assets/documents/resume.pdf">Resume</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-narrow">

      <div class="content">
        {{ content }}
      </div>

      <hr>
      <div>
        <p align="left">
          <li>
            <ul class="icons">

              <li><a href="https://www.linkedin.com/in/tgangavarapu/"><img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" /></a></li>
              <li><a href="https://twitter.com/tushaar1997"><img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" /></a></li>
              <li><a href="https://github.com/TushaarGVS"><img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" /></a></li>
              <li><a href="https://www.facebook.com/tgangavarapu"><img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/facebook.svg" /></a></li>
            </ul>
          </li>
        </p>
        <p align="right"><font size="1"><i>Tushaar Gangavarapu &#151; <a href="mailto:tusgan@amazon.com">&lt;tusgan@amazon.com&gt;</a> &#151; <span id="lastModified"></span></i></font></p>
      </div>
    </div>

    {% include JB/analytics %}
  </body>
</html>
